<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
xmlns:gap   = "http://phonegap.com/ns/1.0"
id          = "edu.uab.business.studentapp"
versionCode = "1"
version     = "0.0.1" >
<!--versionCode is optional and Android only -->
<name>Theo So Weeb</name>
<description>
    Theo Weeb
    </description>
<author>
    Aaron.Zhu
</author>
<preference name="phonegap-version" value="cli-7.0.1" />
<plugin name="cordova-plugin-whitelist" source="npm" />
<access origin="*" />
</widget>